@import "./components/header";
@import "./components/body";
@import "./components/footer";

* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: "Inter", "Montserrat", system-ui, sans-serif;
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  position: relative;
  background-color: #0e1014;
  color: #e4e5ea;
}

a {
  text-decoration: none;
  color: #E4E5EA;
}

@mixin noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}

.container {
  max-width: 1140px;
  margin: auto;
  @media (max-width: 1280px) {
    max-width: 940px;
  }
  @media (max-width: 1024px) {
    max-width: 720px;
  }
  @media (max-width: 768px) {
    max-width: 290px;
  }
}